* {
  flex-wrap: wrap;
}

.card-subtitle {
  margin-top: 1.5rem;
}

.card-header {
  flex-grow: 1;
}

.card-titletext-center {
  margin: auto;
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: -3px -3px 0 rgb(226, 150, 150), 3px -3px 0 rgb(226, 150, 150), -3px 3px 0 rgb(226, 150, 150), 3px 3px 0 rgb(226, 150, 150);
}

.about {
  background-color: #eeeeeeee;
  padding: 15px;
  border-radius: 5px;
  border-left: 4px solid rgb(226, 150, 150);
}

.card-subtitle {
  text-align: center;
  font-size: x-large;
}

.sec1 {
  margin-top: 5rem;
}

.sec2 {
  margin-top: 5rem;
}

.img {
  border-radius: var(--bs-border-radius) !important;
}

.btn {
  border-radius: 0.4rem;
}

h5 {
  font-size: 2rem;
}

.mt-3 {
  display: inline-block;
  padding: 7px 7px;
  background-color: #cdcbcba8;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.mt-3:hover {
  background-color: #e5908ddd;
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
  text-decoration: underline;
}

.card-title {
  text-align: left;
}

.card-text {
  text-align: left;
}

.card-descr {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  width: 100%;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
